# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.  Python
2.  R
3.  SQL
4.  Julia

Some of the commonly used libraries used by Data Scientists include:
1.  Pandas
2.  NumPy
3.  Matplotlib
4.  Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**
* List popular languages for Data Science.
* Identify commonly used libraries in Data Science.
* Create a table of Data Science development environment tools.
* Demonstrate basic arithmetic expressions in Python.
* Convert units using Python code.

## Author
[KHIM Sopheak]